/* common shared styles*/
body{


    font-family:'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.nav-title {
    color: #272727;
font-size: 30px;
font-weight: 500;
line-height: normal;
margin-top: 0px;
margin-left: 80;
margin-right: 96px;

}

h2{
/*sets the color of h2 element to burlywood*/
color: black;
font-size: 10px;
font-weight: 100;
line-height: normal;

.}

 .btn-primary{
    border-radius: 6px;
    background:firebrick;
    border: 0;
    color:aliceblue;
    font-size: 10px;
    font-weight:100;
    padding: 12px 13px;
 }



/* nav related styles */


nav > ul{
    display: flex;
    /*justify*/
    
   align-items: center;
}
nav>ul{
    display:flex;
    align-items:center;
    margin: 600px;
}
nav li{
    list-style:none;
    margin-right: 5px;
    margin-left: 5px;


}
/*header related styles*/
.header{
    background-color: rgba(229, 84, 115, 0.10);
}
    .banner{
        padding: 100px 32px 32px;
        display: flex;
        align-items: center;
        
    }
    .banner .profile-pic
    {
        width: 300px;
    }
