/* common shared styles*/
body{


    font-family:'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.nav-title {
    color: #272727;
font-size: 30px;
font-weight: 550;
line-height: normal;
margin-top: 0px;
margin-left: 80;
margin-right: 96px;
margin-bottom: 25px;
line-break: 600 px;
line-height: 200 px;

}

p{
/*sets the color of p element to burlywood*/
color: black;
font-size: 10px;
font-weight: 30px;
line-height: normal;
margin-bottom: 25px ;

.}

 .btn-primary{
    border-radius: 6px;
    background:firebrick;
    border: 0;
    color:aliceblue;
    font-size: 10px;
    font-weight:15px;
    padding: 12px 13px;
 }



/* nav related styles */


nav > {
    display: flex;
    margin: 0 299px;
    
    
   align-items: center;
}
nav>ul{
    display:flex;
    align-items:center;
    margin: 600px;
}
nav li{
    list-style:none;
    margin-right: 5px;
    margin-left: 5px;


}
/*header related styles*/
.header{
    background-color: rgba(229, 84, 115, 0.10);
}
    .banner{
        padding: 30px 30px 0px 150px;
        display: flex;
        /*align-items: center;*/
        
    }
    .banner .profile-pic
    {
        
        width: 500px;
height: 500px;
flex-shrink: 0;


    }
/*.section-title{
color: #272727;
text-align: center;
font-size: 80px;
font-weight: 190;
line-height: normal;*/

        
    
/*.section-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 10px;
/*line-height: 30px;*/ 
/* 166.667% */
    }
    /* main section styles*/
    /* about section styles */
    .about{
        padding: 100px;
        border-radius: 10px;
        background: white;
        
    }
    .section-title{
        color: #272727;
        text-align:center;
        font-size: 87px;
        font-weight: 800;
        }
        .section-description{
            color: rgba(39, 39, 39, 0.60);
            text-align: center;
            font-size: 10px;}
        
                